@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ///////////..utility classes../////////// */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
 
  padding: 0.5em 1.5em;
  text-decoration: none;
   cursor: pointer;
    margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
  display:inline-block;
	position: relative;
	border: 2px solid rgb(45, 44, 46);
	transition: 0.2s ease;

}

.btn-primary {
  background: rgb(45, 44, 46);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.btn-primary:hover {
  background: rgb(103, 103, 104);
  transition: background 0.3s ease-in-out;
}

/*Sub buttons*/
.sub-bttn{
  display:inline-block;
	position: relative;
	width: 35px;
	height: 35px;
	background: #fff;
	cursor: pointer;
	border: 2px solid rgb(45, 44, 46);
	transition: 0.2s ease;
  width: fit-content;
  padding-left:8px;
  padding-right:8px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform:uppercase;
}

.sub-bttn:hover{
  background-color:  #666666;
  color:white;
	transition: 0.2s;
}
/*Button animation*/
/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(2px) translateZ(0);
  transform: perspective(2px) translateZ(0);
  box-shadow: 0 0 1px rgb(120,120,120);
  position: relative;
  
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: rgb(120,120,120) solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}
/*horizontal bar*/
.divide1{
  width:90%;
  height:3px;
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
  background-color:black;
  box-shadow:1px 3px 3px #3f4240;
}
.divide2{
  width:80%;
  margin:auto;
  margin-top:10px;
}
/*This si for the pop-up modal*/
.modal,.modal2 {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 350px; 
  height:250px;/* Could be more or less, depending on screen size */
  -webkit-box-shadow: -1px -1px 9px 6px rgba(0,0,0,0.34);
-moz-box-shadow: -1px -1px 9px 6px rgba(0,0,0,0.34);
box-shadow: -1px -1px 9px 6px rgba(0,0,0,0.34);

}
.modal-content  #popmsg{
	margin:auto;
 width:100%;
 text-align:center;
 margin-top:15px;
}

/* The Close Button */
.close, .logout {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* SIMPLICITY PANNEL */

.new_pannel{
  width:100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  /* border-radius:10px; */
  
}
.label_new{
  width:100%;
  display:block;
  text-align:center;
  align-items:center;
  font-size:19px;
  padding-top:10px;
  padding-bottom:10px;
  background-color:#eaeaeaab;
  /* border-radius:10px; */
  border-bottom-color:#001a33;
  
  
}
.label_new:hover{
  background-color:#b3b3b3a3;
}
.new_pannel_body{
  width:100%;
  margin-top:20px;
  margin-bottom:20px;
  padding-bottom:20px;
}

/* ............/navbar and acordion menu/............ */
 .ac-container{
        width: 400px;
        margin: 10px auto 30px auto;
        z-index:2200;
      }
      .ac-container div  label a{
          text-decoration:none;
          color:#001a33;
          margin-left:0px;
        }
      .ac-container label{
        
        position: relative;
        z-index: 20;
        display: block;
        height: 30px;
        cursor: pointer;
        color: black;
        text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
        line-height: 33px;
        font-size: 19px;
        background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
        
          margin:2px 2px 2px 2px;
      }
       .ac-container article a{
        width:fit-content;
      }
      .ac-container label{
        width:80%;
      }
    
      .ac-container input:checked + label,
      .ac-container input:checked + label:hover{
        text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
      }
      .ac-container label:hover:after,
      .ac-container input:checked + label:hover:after{
        content: '';
       
        width: 24px;
        height: 24px;
        right: 13px;
        top: 7px;
      
      }
     
      .ac-container input{
        display: none;
      }
      .ac-container article{
        background: rgba(255, 255, 255, 0.5);
        margin-top: -1px;
        overflow: hidden;
        height: 0px;
        position: relative;
       
        transition: 
          height 0.3s ease-in-out, 
          box-shadow 0.6s linear;
      }
      .ac-container input:checked ~ article{
        transition: 
          height 0.5s ease-in-out, 
          box-shadow 0.1s linear;
       
      }
            .ac-container article a{
       
        color: #777;
        display:block;
        font-size: 14px;
        padding: 10px;
        text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
      }

      .ac-container input:checked ~ article.ac-small{
        height: 85px;
      }
      .ac-container input:checked ~ article.ac-medium{
        height: 130px;
      }
      .ac-container input:checked ~ article.ac-large{
        height: 150px;
      }
/* desktop mode............/// */
.navbar {
  position:fixed;
  display:flex;
  z-index:2900;
  width:100%;
  opacity: 0.95;
  box-shadow: 3px 15px 60px 20px white;
  border-bottom-color:#004466;
  border-bottom-width: 5pt;
  background-color: rgb(45, 44, 46);

}

.navbar-container input[type="checkbox"],
.navbar-container .hamburger-lines {
  display: block;
}

.navbar-container {
  display: block;
  position: relative;
  height: 64px;
 
}

.navbar-container input[type="checkbox"] {
  position: absolute;
  display: block;
  height: 32px;
  width: 50px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
}

.navbar-container .hamburger-lines {
  display: block;
  height: 23px;
  width: 35px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: rgb(219, 216, 216);
}

.navbar-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .ac-container {
  padding-top: 75px;
  background: #fff;
  height: 100vh;
  max-width: 300px;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -50px;
  padding-left: 60px;
  transition: transform 0.5s ease-in-out;
  box-shadow: 5px 0px 10px 0px #aaa;
}

.navbar .ac-container div {
  margin-bottom: 1.1rem;
  font-size: 1rem;
  font-weight: 450;
}
.navbar .ac-container div article a{
  text-decoration:none;
  color:#001a33;
  margin-left:20px;
}

.lg1{
  margin-right:190px;
}
.logo {
  
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
  height:9vh;
  position:fixed;

  right: 15px;
  font-size: 2rem;
  z-index:3000;

}

.navbar-container input[type="checkbox"]:checked ~ .ac-container {
  transform: translateX(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(35deg);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-35deg);
}

/* ............//// Showcase styling ////......... */

.showcase-area {
  height: 20vh;
  background: url("../images/tech.gif");
  
  background-position: center;
  
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
  color:rgb(185, 248, 12);

 
}

.main-title ,.header{
  text-shadow: 0px 0px 10px #242222;
}
.main-title {
  text-transform: uppercase;
  margin-top: .8em;
 
}

/* ......//about us//...... */

#about {
  padding: 50px 0;
  background: #f5f5f7;
}

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#about h2 {
  font-size: 2.3rem;
}

#about p {
  font-size: 1.2rem;
  margin-bottom: .9em;
  color: #555;
}

#about .small {
  font-size: 1.2rem;
  color: #666;
  font-weight: 600;
}

.about-img {
  flex: 1 1 400px;
  padding: 30px;
  transform: translateX(150%);
  animation: about-img-animation 1s ease-in-out forwards;
  
}
.about-img img{
  border:solid 1px rgb(199, 198, 198) ;
  padding:10px;
  box-shadow:1px 1px 5px #b3b3b3;
}

@keyframes about-img-animation {
  100% {
    transform: translate(0);
 
  }
}

.about-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
  transform: translate(-150%);
  animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}

.about-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
}

/* ..........////Food category///........... */

#item {
  padding: 5rem 0 10rem 0;
}

#item h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #555;
}

.item-container {
  display: flex;
  justify-content: space-between;
}

.item-container img {
  display: block;
  width: 100%;
  margin: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.img-container {
  margin: 0 1rem;
  position: relative;
  display:inline-block;
}

.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
  color: #fff;
  font-size: 2.2rem;
}

.img-content a {
  font-size: 1.2rem;
}

.img-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  opacity: 0;
  z-index: 1;

  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.img-container:hover .img-content {
  opacity: 1;
  top: 40%;
}

/* .........../Food Menu/............ */

.item-menu-heading {
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
  color: #666;
}

.item-menu-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px 30px 0px;
}

.item-menu-container img {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.item-menu-item {
  display: flex;
  flex: 1 1 600px;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.item-description {
  margin: auto 1.5rem;
}

.item-title {
  font-size: 1.8rem;
  font-weight: 400;
  color: #444;
}

.item-description p {
  font-size: 1.4rem;
  color: #555;
  font-weight: 500;
}

.item-description .food-price {
  color: #117964;
  font-weight: 700;
}

/* ........./ Testimonial /.......... */

#testimonials {
  padding: 5rem 0;
  background: rgba(243, 243, 243);
}

.testimonial-title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  color: #555;
}

.testimonial-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 1rem;
}

.testimonial-box .checked {
  color: #ff9529;
}

.testimonial-box .testimonial-text {
  margin: 1rem 0;
  color: #444;
}

.testimonial-box {
  text-align: center;
  padding: 1rem;
}

.customer-photo img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: auto;
}

/* ........ Form input........... */
.wrap{
  display:flex;
  width:100%;
}

#imgform {
  padding: 2rem 0;
  background: white;

  
}
.imgform-container {
  display: flex;
  background: #fff;
  margin-top:-0px;
  border: solid 1px rgb(209, 208, 208);
  border-radius: 5px;
 
}

.imgform-img {
  width: 50%;
  height:fit-content;
  display: block;

}

.imgform-img img {
  display: block;
  height: 400px;
  width: 100%;
  object-position: center;
  object-fit: cover;



}

.form-container {
  padding: 1rem;
  width: 50%;
  margin: auto;
  display: block;
  margin-top:0px;
}

.form-container input, .form-container select, .form-container select option, .form-container label{
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 500;
  font-size:18px
}

.form-container textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  color: #444;
  outline: none;
  padding: 1rem 0;
  resize: none;
}

.form-container h2 {
  font-size: 2.7rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 1rem;
  margin-top: -1.2rem;
}

.form-container a {
  font-size: 1.3rem;
}
#footer{
  box-shadow: -1px -0.2px rgb(7, 7, 7);
  background: rgb(228, 227, 227);
  
 
}

.footer-img{
  width:170px;
  margin:auto;
}

#footer div.wp div {
  display:inline-block;
 
  margin:auto;
 
  
}

#footer div.wp div p{
  text-align:center;
}
#footer div.wp{
  margin:auto;
  width:fit-content;  
  
}
#footer{
  padding-top:1%;
}
/* ......../ media query /.......... */

@media (max-width: 768px) {
/*showcase*/
  .main-title {
    
    margin-top: .6em;
   
  }
  .footer-img{
    width:300px;
   
  }
  #footer div.wp div {
    margin-left:29%;
  }
  

  /* ......./ food /......... */

  .item-container {
    flex-direction: column;
    align-items: stretch;
  }

  .item-type:not(:last-child) {
    margin-bottom: 3rem;
  }

  .item-type {
    box-shadow: 5px 5px 10px 0 #aaa;
  }

  .img-container {
    margin: 0;
    
  }
  .form-container{
    width:80%;
  }
}

@media (max-width: 500px) {
  .footer-img{
    width:200px;
   
  }
  html {
    font-size: 65%;
  }

  .navbar .menu-items li{
      font-size: 1.6rem;
  }

  .testimonial-container {
    flex-direction: column;
    text-align: center;
  }

  .item-menu-container img {
    margin: auto;
  }

  .item-menu-item {
    flex-direction: column;
    text-align: center;
  }

  .item-container {
    width: 90%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-img {
    width: 90%;
    margin: 3rem auto;
  }

  .logo {
  
    top: 06px;
    right: 15px;
    font-size: 3rem;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
  
}


@media (min-width: 769px) and (max-width: 1200px) {
  .img-container h3 {
    font-size: 1.5rem;
  }

  .img-container .btn {
    font-size: 0.7rem;
  }
}

@media  (max-width: 377PX) {
  
  #footer div.wp div p{
    margin-left:-60px;
   }
   
  
  .lg1{
    margin-right:165px;
  }
  .logo{
    height:7vh;
    right:25;
  }
  .footer-img{
    width:100px;
    margin:auto;
    
  }
}
@media  (max-width: 340PX) {
  .lg1{
    margin-right:110px;
  }
 
  .logo{
    height:6vh;
    
  }
}
@media  (max-width: 280PX) {
 
  .logo{
    height:6vh;
   padding-left:20%;
  }
  .main-title, .header{
    font-size: 1.5rem;
    
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}
