@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background:url("../images/bg2.png") no-repeat;
    align-items: center;
    display: flex;
    background-position: center;
    justify-content: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: 100% 100%;
    -o-background-size: cover;
    background-size: cover;
}

#imgform-wrapper {
    width: 450px;
    height: 450px;
    margin: auto;
	display: flex;
    z-index: 2;
    padding-bottom: 10px;
    padding-top: 10px;
}

.form-wrapper {
    position: relative;
    width: 80%;
    height: 100%;
    margin: auto;
    background: transparent;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background: white;
}

#form_title {
    height:100px;
    width:90%;
    background: url("../images/samp5.png") center no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.form-space {
    height: 75%;
    width: 90%;
    margin: auto;
} 

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-box {
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 25%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -10px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 57px;
}

.remember {
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    user-select: none;
}

.remember label input {
    accent-color: black;
    margin-right: 3px;
}

#submitlogin {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 500;
    margin: auto;
    border-radius: 10px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}


.logo-login {
    font-size: 1.8em;
    color: white;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: white;
    color: rgb(26, 26, 26);
}
